<header>
   <a [routerLink]="[ '/home' ]" routerLinkActive="active">首页</a>
   <a [routerLink]="[ '/news' ]" routerLinkActive="active">新闻</a>
   <a [routerLink]="[ '/works' ]" routerLinkActive="active">工作</a>
   <a [routerLink]="[ '/calls' ]" routerLinkActive="active">联系我们</a>
   <a [routerLink]="[ '/annimite' ]" routerLinkActive="active">动画</a>
   <a [routerLink]="[ '/doms' ]" routerLinkActive="active">操作</a>
   <a [routerLink]="[ '/header' ]" routerLinkActive="active">头部</a>
   <a [routerLink]="[ '/ajax' ]" routerLinkActive="active">请求数据</a>
    <p>www.saint.com</p>
    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1022109268,3759531978&fm=27&gp=0.jpg" alt="">
    <a href="" class="login">登录</a>
    <a href="">注册</a>
</header>
<router-outlet></router-outlet>